[Desktop Entry]
Name=Obsidian
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=obsidian.sh --file-forwarding md.obsidian.Obsidian @@u %U @@
Terminal=false
Type=Application
Icon=md.obsidian.Obsidian
StartupWMClass=obsidian
Comment=Obsidian
MimeType=x-scheme-handler/obsidian;
Categories=Office;
X-Flatpak-Tags=proprietary;
X-Flatpak=md.obsidian.Obsidian
X-XFCE-Source=file:///var/lib/flatpak/app/md.obsidian.Obsidian/x86_64/stable/33fb0831ecb6a4a3b9ea8d55ddfbf93f4bb99f447b5a2bfe777d409fb5b630c1/export/share/applications/md.obsidian.Obsidian.desktop
