[Desktop Entry]
Version=1.0
Type=Application
Exec=firefox %u
Icon=firefox
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name=Web Browser
Name[en_CA]=Firefox
Comment=Browse the web
Comment[en_CA]=Browse the Web
X-Desktop-File-Install-Version=0.26
X-XFCE-Source=file:///usr/share/applications/xfce4-web-browser.desktop
Path=
