[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Icon=com.spotify.Client
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=spotify --file-forwarding com.spotify.Client @@u %U @@
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify
X-GNOME-UsesNotifications=true
X-Flatpak-Tags=proprietary;
X-Flatpak=com.spotify.Client
X-XFCE-Source=file:///var/lib/flatpak/app/com.spotify.Client/x86_64/stable/9356beb0534887e141461895a51cdc6a6f0b75901802b082e986815017556064/export/share/applications/com.spotify.Client.desktop
